<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><a href="/task">Your Tasks</a> <span class="divider">/</span></li>
      <li class="active">View Task</li>
    </ul>
  </div>
</div>

<h3>Task View</h3>

<div class="container">
  <div class="row">
    <div class="span12 details">
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <canvas id="gameCanvas" width="800" height="450"></canvas>

      <script src="/tools/web-client/host/cocos2d.js"></script>
      <script src="/tools/shared-resources/exprmap-defaults.js"></script>

      <!-- USE THIS IF YOU WANT TO SKIP THE EXPR MAP GUI, IT'LL JUST COPY DATA FROM DEFAULTS, LIKE IOS CLIENT CURRENTLY DOES ... ALSO COMMENT OUT THE dat.gui AND exprMapGui SCRIPTS BELOW -->
      <script src="/tools/web-client/host/emapCopyDefaults.js"></script>

    </div>
  </div>
</div>