<h3>Understand Addition As Putting Together And Adding To, And Understand Subtraction As Taking Apart And Taking From.</h3>
<h4>Decompose numbers less than or equal to 20 into pairs in more than one way, e.g. by using objects or drawings, and record each decomposition by a drawing or equation (e.g., 5 = 2 + 3 and 5 = 4 + 1).</h4>
<form>
  <div class="row"><div class="span12">
    <fieldset>
      <legend>Question Type</legend>
      <label>Select Question Type</label>
      <select class="solution-output">
        <option value="1">Split <i>x</i> into <i>y</i> equal groups</option>
        <option value="2">Split <i>x</i> into equal groups of <i>y</i></option>
      </select>
    </fieldset>
  </div></div>

  <div class="row"><div class="span12">
    <fieldset>
      <legend>Equation (<i>x</i> &divide; <i>y</i>)</legend>
      <div class="row">
        <div class="span6">
          <label><i>x</i></label>
          <label>From<br> 
            <select class="x-from">
              <option value="4">4</option>
              <option value="6">6</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="12">12</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="18">18</option>
              <option value="20">20</option>
            </select>
          </label>
          <label>
            To<br>
            <select class="x-to">
              <option value="4">4</option>
              <option value="6">6</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="12">12</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="18">18</option>
              <option value="20">20</option>
            </select>
          </label>
        </div>
        <div class="span6">
          <label><i>y</i></label>
          <table class="span6 equation-y-checkboxes">
            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" value="2">
                  2
                </label>
              </td>
              <td>
                <label class="checkbox">
                  <input type="checkbox" value="5">
                  5
                </label>
              </td>
              <td>
                <label class="checkbox">
                  <input type="checkbox" value="8">
                  8
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" value="3">
                  3
                </label>
              </td>
              <td>
                <label class="checkbox">
                  <input type="checkbox" value="6">
                  6
                </label>
              </td>
              <td>
                <label class="checkbox">
                  <input type="checkbox" value="9">
                  9
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" value="4">
                  4
                </label>
              </td>
              <td>
                <label class="checkbox">
                  <input type="checkbox" value="7">
                  7
                </label>
              </td>
              <td>
                <label class="checkbox">
                  <input type="checkbox" value="10">
                  10
                </label>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </fieldset>
  </div></div>

  <div class="row"><div class="span12">
    <fieldset>
      <legend>Tool</legend>
      <label>Select Tool</label>
      <select class="tool">
        <option value="DistributionTool">Distribution Tool</option>
        <option value="CountingTimer" disabled>Counting Timer</option>
        <option value="FloatingBlock" disabled>Floating Block</option>
        <option value="NumberBonds" disabled>Number Bonds</option>
        <option value="NumberLine" disabled>Number Line</option>
      </select>
    </fieldset>
  </div></div>

  <div class="row"><div class="span12">
    <fieldset>
      <legend>Number of Questions</legend>
      <label>Select Number of Questions</label>
      <select class="bundle-output">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
      </select>
    </fieldset>
  </div></div>

  <button class="preview btn">Preview</button>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
