<div class="container">
  <a class="brand" href="/">
    Authoring
  </a>
  <ul id="page-nav" class="nav">
    <li>
      <a href="create_content" class="create-content active">Create Content</a>
    </li>
    <li class="">
      <a href="share_content" class="share-content">Share Content</a>
    </li>
    <li class="">
      <a href="analytics" class="analytics">View Analytics</a>
    </li>
    <li class="">
      <a href="account" class="account">Account Settings</a>
    </li>
  </ul>
  <p class="user-actions navbar-text pull-right">
    Edward Tilgham Middle
    <a href="#">Sign Out</a>
  </p>
</div>