<div class="container">
  <a class="brand" href="/">
    Authoring
  </a>
  <ul id="page-nav" class="nav">
    <li>
      <a href="bundle" class="bundle active">Bundles</a>
    </li>
    <li class="">
      <a href="set" class="set">Sets</a>
    </li>
    <li class="">
      <a href="analytics" class="analytics">Analytics</a>
    </li>
    <li class="">
      <a href="account" class="account">Account</a>
    </li>
  </ul>
  <p class="user-actions navbar-text pull-right">
    Edward Tilgham Middle
    <a href="#">Sign Out</a>
  </p>
</div>