<div class="container">
  <a class="brand home" href="/" >
    Authoring
  </a>
  <ul id="page-nav" class="nav">
    <li>
      <a href="tasks" class="navlink bundle active">Tasks</a>
    </li>
    <li class="">
      <a href="activities" class="navlink set">Activities</a>
    </li>
    <li class="">
      <a href="analytics" class="navlink analytics">Analytics</a>
    </li>
    <li class="">
      <a href="account" class="navlink account">Account</a>
    </li>
  </ul>
  <p class="user-actions navbar-text pull-right">
    Edward Tilgham Middle
    <a href="#">Sign Out</a>
  </p>
</div>
